.screen {
  height: 10rem;
  font-size: 4rem;
  text-align: right;
  padding: 3rem 3rem 0 0;
  color: white;
  background-color: rgba(74, 74, 74, 1);
  border-radius: 20px 20px 0 0;
}

.error {
  background-color: #d00000;
  border-bottom: 1px solid black;
  color: white;
  word-spacing: 2px;
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0 0;
}
