.navbar {
  color: yellow;
  justify-content: space-between;
  padding: 2em;
  margin-bottom: 4em;
}

.most-left {
  font-size: 5.5rem;
  font-family: 'Indie Flower', cursive;
}
.logo {
  color: yellow !important;
}

ul {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.nav-link {
  margin-left: 1em;
  border: 1px solid white;
  padding: 1em;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
