.btn {
  width: 10rem;
  height: 8rem;
  background: inherit;
  border: 0.25px solid #c1c5be8a;
  font-size: 2rem;
}

.btn:hover {
  background: #c1c5be46;
  border: none;
}

.btn:active {
  background-color: #c1c5be23;
}

.period {
  position: absolute;
  left: 20rem;
  top: 42rem;
}

.zero {
  flex-basis: 20rem;
  margin-right: auto;
  border-bottom: none;
  border-left: none;
}

.operation-btn {
  color: rgba(255, 255, 255, 0.611);
  background-color: rgb(255, 158, 48);
  border-bottom: 0.25px solid black;
  border-left: 0.25px solid black;
  font-weight: bold;
}

.operation-btn:last-child {
  border-bottom: none;
  border-right: none;
  border-radius: 0 0 20px 0;
}

.operation-btn:hover {
  background-color: rgba(255, 158, 48, 0.83);
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
}
